table.dataTable tbody th, table.dataTable tbody td {
padding: 0px !important;
text-align: center;
vertical-align: middle;
}

.create-btn{
    margin-bottom: 2em;
}

.create{
    width: 50%;
    margin: auto;
    margin-top:2em;
}

.errormsg{
    color: red;
}

.successmsg{
    color: green;
}

.deletemsg{
    color: red;
}